#root {
  height: 100%;
  background-color: #2e3747;
  font-family: "Roboto",Helvetica,sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App > .header {
  display: flex;
  align-items: center;
  height: 60px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 10px;
}

.App > .header > img {
  margin-right: 60px;
}


.App > .body {
  display: flex;
  flex-direction: column;
  flex:1;
}

.App > .body > .grid {
  margin-bottom: 0px;
  overflow: scroll;
  flex: 1;
}

.App > .body > .grid > .stretched {
  padding-top: 0;
  overflow: scroll;
}

.App > .body > .grid > .stretched > .segment {
  margin: 0;

}

.transition.item > .content > .header,
.ui.form .field>label {
  color: white !important;
}

.App > .body > a {
  text-align: center;
  margin-bottom: 10px !important;
}

#menu > .active.item {
  color: #28a2ff !important;
}
